@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg: #F7FBFE;
  --dark-theme: #2E2B54;
  --light-theme: #DBECF8;
  --accent-one: #FAC0FF;
  --accent-two: #FDB600;
}

.a-gradient {
  background-image: linear-gradient(to bottom right, #FEF5FF, white, #DBECF8)
}
/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
